body {
    color: white;
    background-color: #80BFFF;
    font-family: 'Gugi', cursive;
}

h1 {
    padding: 20px;
    }

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 150px 150px 1fr auto;
    grid-column-gap: 20px;
    justify-content: center;
    grid-template-areas: " . header header header header . "
                        " . keuzes keuzes keuzes keuzes . "
                        " . main1 main2 main3 main4 ."
                         " . footer footer footer footer . ";
}

.keuzecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 30px;
    justify-content: center;
    grid-template-areas: "input_item input_item"
                         "alpha_center alpha_center";
}


.header {
    grid-area: header;
    text-align: center;
}

.keuzes {
    grid-area: keuzes;
    padding: 20px;
    text-align: center;
}

.input_item {
    grid-area: input_item;
}

.alphabet {
    grid-area: alpha_center;
    list-style-type: none;
    margin-top: -30px;
    min-width: 180px;    
}

.alphabet li {
    display: inline-block;
    color:white;
    max-width:3.84%;
    padding: 5px;
}

.alphabet li:hover {
    color: #80BFFF;
    background-color: white;
}

.main1 {
    grid-area: main1;
    justify-self: center;
    box-sizing: border-box;
}

.main1 img {
    border-radius: 300px;
    max-width: 600px;
    width: 100%;
    border: 5px solid white;
    box-sizing: border-box;
}

.main2 {
    grid-area: main2;
    justify-self: center;
    box-sizing: border-box;
}

.main2 img {
    border-radius: 300px;
    max-width: 600px;
    width: 100%;    
    border: 5px solid white;
    box-sizing: border-box;
}

.main3 {
    grid-area: main3;
    justify-self: center;
    box-sizing: border-box;
}

.main3 img {
    border-radius: 300px;
    max-width: 600px;
    width: 100%;    
    border: 5px solid white; 
    box-sizing: border-box;
}

.main4 {
    grid-area: main4;
    justify-self: center;
    box-sizing: border-box;
}

.main4 img {
    border-radius: 300px;
    max-width: 600px;
    width: 100%;    
    border: 5px solid white; 
    box-sizing: border-box;
}

.footer {
    grid-area: footer;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 25px;
}

li {
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}

footer {
    text-align: center;
}

@media only screen and (max-width:1240px) {
    .container {
        grid-template-columns: 0px 1fr 0px;
        grid-template-rows: 150px 150px auto auto auto auto auto;
        grid-template-areas: " . header ."
                        " . keuzes . "
                        " . main1 ."
                        " . main2 . "
                        " . main3 . "
                        " . main4 . "
                         " . footer . ";
    }

}